h1 {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.todoItems {
  font-size: 1.5rem;
}

button {
  margin-left: 5px;
  cursor: pointer;
  height: 30px;
}

input {
  box-sizing: border-box;
  width: 250px;
  height: 30px;
  outline: none;
  padding: 7px;
}

.todo__container {
  margin: 17px;
}
